.about-section {
}

.about-section__inner {
    text-align: center;
    margin-inline: 5%;
    padding-block: torem(170);

    @include tablet() {
        padding-block: torem(50);
        margin-inline: 2%;
    }
}

$offset: 2.5;

.about-section__title {
    margin-bottom: #{$offset}rem;
    line-height: 1;

    @include adaptFontSize(35, 60);
}

.about-section__description {
    @include adaptFontSize(16, 19);
}

.about-section__span {
    @include hover() {
        text-decoration: underline;
    }
}

.about-section__button {
    padding: toem(18, 7) toem(18, 16);

    @include adaptFontSize(14, 15);
}

.about-section__list {
    margin-top: #{$offset}rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
