.projects-section {
}

.projects-section__title {
    margin-bottom: torem(20);

    @include adaptFontSize(32, 43);
}

.projects-section__tabs {
    gap: 50px;
}

.projects-section__tabs-list {
}

.projects-section__project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    &[data-state="inactive"] {
        @include noDisplay();
    }
}

.projects-section__project-card {
    flex: 1 1 500px;

    & .project-card__content {
        padding: 12px;
    }
}
