.projects-section {
}

.projects-section__title {
    margin-bottom: torem(20);

    @include adaptFontSize(32, 40);
}

.projects-section__tabs {
    gap: 50px;
}

.projects-section__tabs-list {
}

.projects-section__project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    gap: 20px;

    @include tablet() {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }
}

.projects-section__project-card {
    min-height: 175px;
    flex: 1 1 500px;

    & .project-card__content {
        padding: 12px;
    }
}
