html {

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        @include noDisplay();
    }
}

body {
    line-height: 1.4;
    height: 100%;
    scroll-padding-top: 80px;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: var(--jetbrains-mono);
    font-weight: 300;
}

::selection {
    background-color: rgba(var(--skylight-blue-rgb), 0.45);
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--font-color);
}

main {
    flex: 1 1 auto;
    z-index: 2;
}

//section:not(:last-child) {
section {
    margin-bottom: 6rem;
}

button {
    color: var(--font-color);

    @include lessMoreContrast() {
        border-width: 1px;
        border-style: solid;
    }
}
