:root {
    --max-site-container-width: 1550px;
    --min-site-containte-width: 300px;

    --jetbrains-mono: "JetBrains Mono", sans-serif;
    --atziluth-script: "Atziluth", sans-serif;

    --transition-time: 0.25s;

    --border-8: 0.5rem;
    --border-15: 0.9375rem;
    --border-20: 1.25rem;
    --border-circle: 9999px;

    --font-color: #ffffff;
    --bg-color: #090909;
    --purple-rgb: 120, 40, 255;
    --red-rgb: 221, 57, 57;
    --blue-rgb: 0, 125, 254;
    --green-rgb: 53, 193, 52;
    --pale-blue: 77, 89, 250;
    --skylight-blue-rgb: 54, 54, 225;
    --telegram-rgb: 0, 174, 237;
    --discord-rgb: 88, 101, 242;
    --python-rgb: 52, 117, 167;
    --fastapi-rgb: 5, 152, 138;
    --pydantic-rgb: 232, 53, 111;
    --bash-rgb: 60, 69, 73;
    --docker-rgb: 29, 99, 237;
    --git-rgb: 240, 80, 48;
    --javascript-rgb: 247, 224, 37;
    --typescript-rgb: 55, 124, 200;
    --reactjs-rgb: 88, 196, 220;
    --nextjs-rgb: 25, 25, 25;
    --html-rgb: 229, 83, 45;
    --css-rgb: 107, 57, 156;
    --scss-rgb: 207, 108, 156;
    --sqlite-rgb: 15, 128, 204;
    --sqlalchemy-rgb: 215, 31, 0;
    --aiogram-rgb: 0, 156, 251;
    --redis-rgb: 216, 42, 32;
    --bem-methodology-rgb: 23, 161, 230;


    @media (prefers-contrast: less) {
    }

    @media (prefers-contrast: more) {
        --font-color: yellow;
    }

    @media (prefers-contrast: more) or (prefers-contrast: less) {
        --jetbrains-mono: Arial, sans-serif;
        --atziluth-script: Arial, sans-serif;

        --transition-time: 0s;

        --border-8: 0px;
        --border-15: 0px;
        --border-20: 0px;
        --border-circle: 0px;
    }
}
