.burger-menu {
    $offset: 8px;

    width: 275px;
    height: calc(100dvh - ($offset*2));
    margin-top: $offset;
    margin-right: $offset;
    margin-bottom: $offset;

    //background-color: #1e1e1e;
    border: 2px solid #282828;
    border-radius: var(--border-20);

    &:after {
        @include noDisplay;
    }
}

.burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger-menu__title {
    margin-bottom: torem(25);

    @include adaptFontSize(25, 30);
}

.burger-menu__list-point {
    //@include adaptFontSize(17, 18);
}

.burger-menu__button {
    display: inline-flex;
    width: 100%;
    padding: 8px 0;
    gap: 8px;

    @include adaptFontSize(17, 18);
}

.burger-menu__close-button {
    padding: toem(16, 6);
    margin-top: auto;

    @include adaptFontSize(15, 17);
}
