.service-card {
    border: 2px solid #1e1e1e;
    border-radius: var(--border-20);
}

.service-card__head {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: torem(12);
}

.service-card__title {
    display: inline-flex;

    @include adaptFontSize(18, 20);
}

.service-card__description {
    @include adaptFontSize(14, 16);
}

.service-card__price {
    display: inline-flex;
    font-weight: 600;
    padding: toem(17, 4) toem(17, 13);
    border-radius: var(--border-circle);
    background-color: rgba(77, 89, 250, 0.15);
    //background-color: rgb(12, 12, 38);
    color: rgb(77, 89, 250);
    filter: drop-shadow(0px 2px 5px #000);
    //-webkit-filter: drop-shadow(0px 2px 5px var(--bg-color));

    @include adaptFontSize(15, 16);
}


