.skill-card {
    //border: 2px solid rgb(38, 38, 38);
    //border-radius: 20px;
}

.skill-card__inner {
    //padding: 12px;
}

.skill-card__title {
    margin-bottom: torem(18);

    @include adaptFontSize(19, 24);
}

.skill-card__technology-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-card__skill {
    padding: toem(14, 5) toem(14, 16);

    @include adaptFontSize(13, 14);
    @include tablet() {
        padding: toem(14, 4) toem(14, 10);
    }
}
