.skill {
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgba(85, 85, 85, 0.25);
    border-radius: 10px;
    transition: scale 0.2s;
    cursor: default;

    @include hover() {
        scale: 1.02;
    }

    &--with-icon {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        & svg, span {
            display: inline-flex;
        }
    }

    &--python {
        background-color: rgba(var(--python-rgb), 0.25);
        border-color: rgba(var(--python-rgb), 0.5);
    }

    &--fastapi {
        background-color: rgba(var(--fastapi-rgb), 0.25);
        border-color: rgba(var(--fastapi-rgb), 0.5);
    }

    &--pydantic {
        background-color: rgba(var(--pydantic-rgb), 0.25);
        border-color: rgba(var(--pydantic-rgb), 0.5);
    }

    &--bash {
        background-color: rgba(var(--bash-rgb), 0.25);
        border-color: rgba(var(--bash-rgb), 0.5);
    }

    &--docker {
        background-color: rgba(var(--docker-rgb), 0.25);
        border-color: rgba(var(--docker-rgb), 0.5);
    }

    &--git {
        background-color: rgba(var(--git-rgb), 0.25);
        border-color: rgba(var(--git-rgb), 0.5);
    }

    &--javascript {
        background-color: rgba(var(--javascript-rgb), 0.25);
        border-color: rgba(var(--javascript-rgb), 0.5);
    }

    &--typescript {
        background-color: rgba(var(--typescript-rgb), 0.25);
        border-color: rgba(var(--typescript-rgb), 0.5);
    }

    &--reactjs {
        background-color: rgba(var(--reactjs-rgb), 0.25);
        border-color: rgba(var(--reactjs-rgb), 0.5);
    }

    &--nextjs {
        background-color: rgba(var(--nextjs-rgb), 0.25);
        border-color: rgba(var(--nextjs-rgb), 0.5);
    }

    &--html {
        background-color: rgba(var(--html-rgb), 0.25);
        border-color: rgba(var(--html-rgb), 0.5);
    }

    &--css {
        background-color: rgba(var(--css-rgb), 0.25);
        border-color: rgba(var(--css-rgb), 0.5);
    }

    &--scss {
        background-color: rgba(var(--scss-rgb), 0.25);
        border-color: rgba(var(--scss-rgb), 0.5);
    }
}