@mixin iconColor($text-color, $bg-color) {
    //$blur: 42px;

    box-sizing: content-box;
    padding: torem(6);
    color: $text-color;
    background-color: $bg-color;
    border-radius: torem(8);
    //filter: drop-shadow($text-color 0px 0px 20px);
    //-webkit-filter: drop-shadow($text-color 0px 0px 20px);

    //-webkit-box-shadow: 0px 0px $blur 0px $text-color;
    //-moz-box-shadow: 0px 0px $blur 0px $text-color;
    //box-shadow: 0px 0px $blur 0px $text-color;
}

.title {
    font-weight: 500;

    &--with-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;

        & svg, span {
            display: inline-flex;
        }
    }

    &--600 {
        font-weight: 600;
    }

    &--red-icon svg {
        @include iconColor(rgb(var(--red-rgb)), rgba(var(--red-rgb), 0.15));
    }

    &--purple-icon svg {
        @include iconColor(rgb(var(--purple-rgb)), rgba(var(--purple-rgb), 0.15));
    }

    &--skylight-blue-icon svg {
        @include iconColor(rgb(var(--skylight-blue-rgb)), rgba(var(--skylight-blue-rgb), 0.15));
    }

    &--blue-icon svg {
        @include iconColor(rgb(var(--blue-rgb)), rgba(var(--blue-rgb), 0.15))
    }

    &--green-icon svg {
        @include iconColor(rgb(var(--green-rgb)), rgba(var(--green-rgb), 0.15))
    }

    &--telegram-icon svg {
        @include iconColor(rgb(var(--telegram-rgb)), rgba(var(--telegram-rgb), 0.15))
    }

    &--discord-icon svg {
        @include iconColor(rgb(var(--discord-rgb)), rgba(var(--discord-rgb), 0.15))
    }
}


